* {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

#crsr {
    height: 2.3vw;
    width: 2.3vw;
    border-radius: 50%;
    /* background-color: #fff; */
    border: 1px solid rgba(255, 255, 255, 0.581);
    position: fixed;
    z-index: 999;
    mix-blend-mode: difference;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

#loader {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #0b0b0b;
    padding: 25vh 10vw;
}

.line {
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
}

.line h1{
    font-size: 6vw;
    text-transform: uppercase;
}

.line h2 {
    font-size: 6vw;
    text-transform: uppercase;
    /* animation-name: anime; */
    opacity: 0;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    font-weight: 900;
    height: 12vh;
    text-align: left;
}

#number {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

#number h5, #number h6 {
    font-size: 3vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: lighter;
}

#number h5 {
    width: 5vw;
    text-align: right;
}

#main {
    position: relative;
    background-color: #111;
}

#page1 {
    height: 100vh;
    width: 100%;
    background-color: #111;
}

@keyframes anime {
    0% {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        -webkit-text-stroke: 1px #fff;
        opacity: 1;
    }
    48% {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        -webkit-text-stroke: 1px #fff;
        opacity: 0;
    }
    50% {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-style: italic;
        font-weight: lighter;
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        opacity: 1;
    }
    100% {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-style: italic;
        font-weight: lighter;
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        opacity: 0;
    }
} 

#page1 #nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.3vw 4.5vw;
}

#page1 #nav #nav-part2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5vw;
    font-size: large;
}

.hero {
    width: 72%;
    margin-left: 27%;
    height: fit-content; /* make fix height for og animation */
    overflow: hidden; /* hide overflow as well */
    display: flex;
    align-items: center;
}

.hero:nth-child(2){
    margin-top: 18vh;
}

.hero h1 {
    font-size: 6.5vw;
    font-weight: 550;
    text-transform: uppercase;
    list-style: 7.2vw;
}

.hero h3, .hero h2 {
    font-size: 6.5vw;
    font-weight: 550;
    text-transform: uppercase;
    list-style: 7.2vw;
}

.hero h2:hover{
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
}